retailradio-raml-jdbc.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
    <http:listener-config name="retailradio-httpListenerConfig" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <apikit:config name="retailradio-config" raml="retailradio.raml" consoleEnabled="true" consolePath="console" doc:name="Router"/>
    <db:mysql-config name="MySQL_Configuration" host="${mysql.host}" port="${mysql.port}" user="${mysql.user}" database="${mysql.database}" doc:name="MySQL Configuration"/>
    <flow name="retailradio-main">
        <http:listener config-ref="retailradio-httpListenerConfig" path="/api/*" doc:name="HTTP">
            <http:response-builder>
                <http:header headerName="Access-Control-Allow-Origin" value="*"/>
            </http:response-builder>
        </http:listener>
        <apikit:router config-ref="retailradio-config" doc:name="APIkit Router"/>
        <exception-strategy ref="retailradio-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="get:/UpNextList/{storeId}:retailradio-config">
        <logger message="--mesage- #[message] ---flowv--- #[flowVars.storeId]" level="INFO" doc:name="Logger"/>
        <db:select config-ref="MySQL_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[select u.upNextId, f.fileName, f.fileType, s.storeId, u.played
from UpNext u, File f, Store s 
where u.fileId=f.fileId
and u.storeId=s.storeId
and u.storeId=#[flowVars.storeId]]]></db:parameterized-query>
        </db:select>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <catch-exception-strategy doc:name="Catch Exception Strategy">
            <logger message="--Error Getting UpNext from Database-- #[payload]" level="ERROR" doc:name="Logger"/>
        </catch-exception-strategy>
    </flow>
    <flow name="post:/UpNextList/{storeId}:application/json:retailradio-config">
    	<logger message="--mesage- #[message] ---flowv--- #[flowVars.storeId] ---payload #[payload] --- #[json:filename]" level="INFO" doc:name="Logger"/>
        <db:insert config-ref="MySQL_Configuration" doc:name="Database" autoGeneratedKeys="true">
            <db:parameterized-query><![CDATA[insert into File (fileName, fileType)
values (#[json:filename],'ad')]]></db:parameterized-query>
        </db:insert>
        <logger message="--payload&gt;&gt;&gt;- #[payload] -message&gt;&gt;&gt;&gt;--#[message] --generated key-#[payload[0]['GENERATED_KEY']]" level="INFO" doc:name="Logger"/>
        <set-variable variableName="fileId" value="#[payload[0]['GENERATED_KEY']]" doc:name="Variable"/>
        <db:insert config-ref="MySQL_Configuration" autoGeneratedKeys="true" doc:name="Database">
            <db:parameterized-query><![CDATA[insert into UpNext (fileId, storeId)
values (#[flowVars.fileId],#[flowVars.storeId])]]></db:parameterized-query>
        </db:insert>
        <set-variable variableName="upNextId" value="#[payload[0]['GENERATED_KEY']]" doc:name="Variable"/>
        <db:select config-ref="MySQL_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[select * from UpNext
where upNextId=#[flowVars.upNextId]]]></db:parameterized-query>
        </db:select>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <catch-exception-strategy doc:name="Catch Exception Strategy">
            <logger message="--Error Saving File Info to Database-- #[payload]" level="INFO" doc:name="Logger"/>
        </catch-exception-strategy>
    </flow>
    <apikit:mapping-exception-strategy name="retailradio-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>
