classes/retailradio-subscriber-one.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:jbossts="http://www.mulesoft.org/schema/mule/jbossts" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/jbossts http://www.mulesoft.org/schema/mule/jbossts/current/mule-jbossts.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
    <jms:activemq-connector name="Active_MQ_StoreOne" username="admin" password="admin" brokerURL="tcp://localhost:61616" validateConnections="true" clientId="StoreOne" durable="true" persistentDelivery="true" doc:name="Active MQ" specification="1.1"/>
    <http:request-config name="HTTP_Request_Configuration" host="localhost" port="8081" basePath="/api" doc:name="HTTP Request Configuration">
        <http:raml-api-configuration location="retailradio.raml"/>
    </http:request-config>
    <flow name="retailradio-subscriber-oneFlow">
        <jms:inbound-endpoint topic="RetailRadio.UpNext" connector-ref="Active_MQ_StoreOne" doc:name="JMS">
            <jms:transaction action="BEGIN_OR_JOIN"/>
        </jms:inbound-endpoint>
        <file:outbound-endpoint path="${app.home}/classes/webapps/StoreOne" responseTimeout="10000" doc:name="File" outputPattern="#[sessionVars['OriginalFileName']]"/>
        <parse-template location="src/main/resources/file.json" doc:name="Parse Template"/>
        <logger message="--- payload for json --- #[payload]" level="DEBUG" doc:name="Logger"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
        <http:request config-ref="HTTP_Request_Configuration" path="/UpNextList/{storeId}" method="POST" metadata:id="f05513f0-93b7-4c8a-8d16-b700446c09a1" doc:name="HTTP">
            <http:request-builder>
                <http:uri-param paramName="storeId" value="1"/>
            </http:request-builder>
        </http:request>
        <catch-exception-strategy doc:name="Catch Exception Strategy">
            <logger message="-- StoreOne Error Posting File to Service --#[payload]" level="ERROR" doc:name="Logger"/>
        </catch-exception-strategy>
    </flow>
</mule>
